/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
/** {*/
    /* -moz-box-sizing: border-box;*/ /* Firexfox */
     /*-webkit-box-sizing: border-box;*/ /* Safari/Chrome/iOS/Android */
     /*box-sizing: border-box;*/ /* IE */
/*}*/

/* Clear fix hack */
/*.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}*/

/*.alignright {
  float: right;
  padding: 0 0 10px 10px; *//* note the padding around a right floated image */
/*}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; *//* note the padding around a left floated image */
/*}*/

/******************************************
/* BASE STYLES
/*******************************************/
/*
body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
     background-image: url(./images/header_bg.jpg) no-repeat center top rgb(134,141,157);
     background-size: cover;
}
*/

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
/*#container {
  width: 100%;
  margin: auto;
  height: 500px;

}*/

#background {
  background-image: url(./header_bg.jpg);
}

.first {
  font-weight: bolder;
  font-size: 24px;
  color: #f0efef;
  font-family: 'Open Sans', sans-serif;
}

.piece {
  color: #f0efef;
  font-weight:450;
  font-size: 24px;
  text-align: center;
  padding: 100px;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  margin-top: -5%;
}

.now {
  font-weight: bolder;
  font-size: 14px;
  color: #033048;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
 /* vertical-align: middle;*/ 
  width: 20em;
  height: 1em;
  padding: 2em;
  margin-left: 38%;
  margin-bottom: 10%;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #f9e42e
}

.second {
  font-weight: 450;
  color: #033048;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-size: 20px;
  padding: 10px;

}

.assistant {
  font-weight: lighter;
  font-size: 13px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  width: 400px;
  padding: 20px;
  margin:-10px;
  color: #606161;
}

.bullets {
  font-weight: lighter;
  font-size: 13px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  color: #606161;
  padding: 5px;
  margin-left: 10px;
}

.third {
  padding: 75px;
}
.quote {
  font-size: 18px;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #f0efef;
  width: 470px;
  padding: 20px;
  margin-left: 350px;
  margin-top: -100px;
}

.name {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #f0efef;
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
  margin-left: 20px;
  margin-top: -100px;
  margin-bottom: 50px;
}

.Sign {
  font-weight: bolder;
  font-size: 12px;
  text-align: center;
  color: #f0efef;
  font-family: 'Open Sans', sans-serif;
  width: 20em;
  height: 1em;
  padding: 2em;
  margin-left: 43.5%;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #033048;
}

.title {
  font-weight: bolder;
  font-size: 24px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color:#f9e42e;
  padding: 15px;
}

.social {
  width: 20em;
  height: 1em;
  padding: 2em;
  margin-left: 29%;
}

.copyright {
  font-weight: 400px;
  font-size: 9px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #f0efef;
  padding: 15px;
}
header {
  

  display: flex;
  flex-wrap: nowrap;
  padding: 20px;
  
}
section {
  background-color: #f0efef;
  color: #606161;
  padding: 60px;
}

aside {
  background-image: url(./testimonial_bg.jpg);
  margin: 0px;
}

nav {
  background-color: #f9e42e;
  padding: 20px;
  text-align: center;
}
footer {
  background-color: #121212;
  margin: 0px;
  padding: 100px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/




